@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    div#menudireito{
        display: flex;
        flex: row nowrap;
        justify-content: space-between;
        width: 40%;
    }
    .regularscreen{
        display: flex;
        position: relative;
        align-items: center;
        text-decoration: none;
    }
    
    
    #subsection1{
        width: 500px;
        height: 219px;
        
    }
    
    .regularscreen::after{
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        height: 100%;
        width: 100%;
        box-shadow: 0px 0px 20px 40px var(--cor1transp);
        border-radius: 50%;
        transition: all 0.5s;
    }
    .regularscreen:active::after{
        box-shadow: 0px 0px 0px 0px 0px var(--cor1transp);
        opacity: 1;
        transition: 0s;
        position: absolute;
        border-radius: 50%;
        top: 0px;
        left: 0px;
    }
    

    
}
@media screen and (min-width: 992px) {
    div#menudireito{
        display: flex;
        flex: row nowrap;
        justify-content: space-between;
        width: 50%;
       
        
    }
    #menuhamburguer{
        display: none;
    }
    .regularscreen{
        display: flex;
        position: relative;
        align-items: center;
        text-decoration: none;
    }
   
    .largescreen{
        display: flex;
        position: relative;
        align-items: center;
        text-decoration: none;
        font-family: var(--font);
        font-weight: 900;
        font-size: clamp(16px, 16px + .1vw, 24px);
        line-height: clamp(16px, 16px + 0.1vw, 24px);
        letter-spacing: 0px;
        text-transform: uppercase;
        /*16px/16.9px*/
    }
    #subsection1{
        width: 600px;
        height: 230px;
        
        
    }
    .conteudo {
        width: 60%;
    }
    .imagem{
        width: 40%;
    }

    #section2{
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }
    #section2 > p{
        margin-bottom: 0px;
        padding-right: 15px;
        font-size: clamp(13px, 13px + 0.5vw, 22px);
        line-height: clamp(18px, 18px + 0.5vw, 32px);
        
    }
    .campo{
        width: max(320px, 400px - 5.2vw);
    }
    .campo > input{
        font-size: clamp(13px, 13px + 0.5vw, 22px);
        line-height: clamp(18px, 18px + 0.5vw, 32px);
    }
    .campo > label{
        transform: scale(1);
    }

    #section3{
        display: flex;
        justify-content: space-between;
        padding: 50px 100px 0px 100px;
    }
    #section3 h3{
        display: block;
        font-family: var(--font);
        font-weight: 900;
        font-size: clamp(10px, 10px + .5vw, 16px);
        line-height: clamp(10.3px, 10.3px + .5vw, 16px);
        text-transform: uppercase;
        padding: 0px 0px 15px 0px;
    }
    div.cabecalho > button{
        display: none;
    }
    div.cabecalho{
        border: 0px;
    }

    div.cabecalho > ul{
        display: block;
    }

    div.cabecalho li{
        border: 0px;
    }
    div.cabecalho a{
        font-size: clamp(10px, 10px + .5vw, 16px);
        line-height: clamp(10.3px, 10.3px + .5vw, 16px);
        padding: 5px 0px;
    }
    h3#h3cabecalho{
        text-align: center;
    }
    div.cabecalho > p{
        text-align: center;
        font-family: var(--font);
        font-size: clamp(10px, 10px + .5vw, 16px);
        line-height: 22px;
        padding: 5px 0px;

    }
    footer{
        padding: 20px 100px;
        
    }
    div#cartao{
        position: relative;
        display: inline-block;
        bottom: 30px;
        margin-right: 100px;

    }
    div#comprasegura{
        display: inline-block;
    }
    div#rodape{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between ;
        align-items: center;
        margin: 0px;
        width: 600px;
    }
    div#rodape > p{
        display: inline-block;
        padding: 0px;
        font-family: var(--font);
        font-size: clamp(10px, 10px + .5vw, 16px);
        line-height: clamp(10.3px, 10.3px + .5vw, 16px);

        
    }

   
}