@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    div#menudireito{
        display: flex;
        flex: row nowrap;
        justify-content: space-between;
        width: 40%;
    }
    .regularscreen{
        display: flex;
        position: relative;
        align-items: center;
    }
    
    
    #subsection1{
        width: 500px;
        height: 219px;
        
    }
    
    .regularscreen::after{
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        height: 100%;
        width: 100%;
        box-shadow: 0px 0px 20px 40px var(--cor1transp);
        border-radius: 50%;
        transition: all 0.5s;
    }
    .regularscreen:active::after{
        box-shadow: 0px 0px 0px 0px 0px var(--cor1transp);
        opacity: 1;
        transition: 0s;
        position: absolute;
        border-radius: 50%;
        top: 0px;
        left: 0px;
    }
    

    
}
@media screen and (min-width: 992px) {
    div#menudireito{
        display: flex;
        flex: row nowrap;
        justify-content: space-between;
        width: 50%;
       
        
    }
    #menuhamburguer{
        display: none;
    }
    .regularscreen{
        display: flex;
        position: relative;
        align-items: center;
    }
   
    .largescreen{
        display: flex;
        position: relative;
        align-items: center;
        text-decoration: none;
        font-family: var(--font);
        font-weight: 900;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0px;
        text-transform: uppercase;
        /*16px/16.9px*/
    }
    #subsection1{
        width: 600px;
        height: 230px;
        
        
    }
    .conteudo {
        width: 60%;
    }
    .imagem{
        width: 40%;
    }
}