@charset "UTF-8";
:root{
    --cor1:#AFC276;
    --cor2:#FAF4F1;
    --cor1transp:#afc2769a;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: whitesmoke;
}
body, html{
    height: 100vh;

}
header{
    background-color: var(--cor2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;

}
header > a{
    background-color: transparent;
}
header img{
    transform: scale(0.8);
}
menu#imenu{
    display: block;
    position: absolute;
    top: 0px;
    background-color: var(--cor1transp);
    border-radius: 0px 5px 5px 0px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.353);
    transition-property: left, height, width;
    transition-duration: .3s,.5s,.5s;
    transition-timing-function: ease-in-out,cubic-bezier(.15,.98,.9,.03),cubic-bezier(.15,.98,.9,.03);
    
}
.hide{
    left: -42vw;
    height: 40vh;
    width: 40vw;
    
}

.show{
    left: 0px;
    height: 100vh;
    width: 90vw;
    
}

menu#imenu ul{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    list-style: none;
    background-color: transparent;
}

ul#ilist > li{
    
    padding: 30px 0px;
    background-color: transparent;
    
}

ul#ilist a{
    text-decoration: none;
    background-color: transparent;
}

span.listicons{
    color: black;
    margin-right: 20px;
    background-color: transparent;
}

span.listtext{
    color: black;
    background-color: transparent;
}
span#closeicon{
    float: right;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    color: black;

}

span#menuhamburguer{
    
    position: relative;
    color: black;
    cursor: pointer;
    
}
.button{

}

.button::after{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 20px 40px var(--cor1transp);
    border-radius: 50%;
    transition: all 0.5s;

    

}

.button:active::after{
    box-shadow: 0px 0px 0px 0px 0px var(--cor1transp);
    opacity: 1;
    transition: 0s;
    position: absolute;
    border-radius: 50%;
    left: 0px;
    top: 0px;
    

}


