@charset "UTF-8";
:root{
    --cor1:#AFC276;
    --cor2:#FAF4F1;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: whitesmoke;
}
header{
    background-color: var(--cor2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;

}
header img{
    transform: scale(0.8);
}
menu{
    position: absolute;
    
}
menu ul{
    display: flex;
    flex-direction: column;

}

menu ul > li{
    margin-top: 10px;
}



span#menuhamburguer{
    color: black;
    
}


